:root {
    --primarycolor:#4CAF4F;
    --blackcolor:#18191F;
}

@font-face {
    font-family:"inter";
    src: url("./fonts/Inter_18pt-SemiBold.ttf");
}
.blackcolor{
    color: var(--blackcolor) !important;
}
.textgreen {
    color: var(--greencolor);
}
 .greentext:hover{
    background-color: var(--greencolor);
    color: white;
}
.bggreen{
    background-color:var(--greencolor);
}
.bggreen:hover{
    background-color: var(--primarycolor);
    color: white;
}
.font{
    font-family: inter;
}
.greenColor{
   color:#4CAF4F ; 
}
.bgColor{
    color:#4D4D4D;

}
.bg-hero{
    background-color: #F5F7FA;

}
.customGap{
    gap: 100px;
}
.customShadow{
    box-shadow: 0px 1.39px 2.78px 0px #ABBED133;

}